body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222; /* Um fundo escuro */
    color: #eee; /* Cor do texto */
    font-family: sans-serif;
}

canvas {
    border: 2px solid #eee; /* Uma borda para o canvas */
    background-color: #000; /* Fundo do jogo */
    display: block; /* Remove espaçamentos extras */
}
